* {
  margin: 0;
  padding: 0;
}
html, body {
  position: relative;
  height: 100%;
  font-size: 12px;
  font-family: 'PingFang SC, Microsoft YaHei'
}
ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  border: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
}
@font-face {
  font-family: 'NUMBER1';
  src: url('../font/DS-DIGIB.TTF');
}