.loadBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    min-height: 500px;
    font-size: 30px;
    font-weight: 700px;
}
